<div>
  <h3>Welcome to Tap and Win</h3>
  <div>
    <p> Hey <%= player.firstName %>, this is your verification token: <%= player.verificationToken %></p>
    <p>please use it in order to login into the app.</p>
  </div>
</div>
