.mail-container{
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
}

.wrapper{
  padding-left: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-left: 20px solid #FF3062;
}

/* Title and body text styles */

.title-container > .mail-title{
  font-size: 18px;
  color: #686868
}


.mail-body > p {
  font-size: 16px;
  text-align: left;
  color: #8c8c8c;
}

.mail-body > .token{
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FF3062;
}

.mail-body > ul{
  list-style: none;
  padding: 0px;
}
.mail-body > ul > li{
    font-size: 16px;
    margin-bottom: 5px;
    color: #8c8c8c;
}
