.mail-container{
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: #22A7F0;
}
.mail-title {
  text-align: center;
  font-size: 20px;
}

.mail-body > p {
  font-size: 16px;
  text-align: center;
}

.token{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
