<div class="mail-container">
  <div class="brand-container">
  </div>
  <img src="http://52.39.109.204/tapnwin/api/v1/uploads/09377193-338c-4124-bb27-17600debbef0.png" alt="">
  <div class="wrapper">
    <div class="title-container">
      <h3 class="mail-title">Tap and Win </h3>
      <h3 class="mail-title">Recuperación de contraseña</h3>
    </div>
    <div class="mail-body">
      <p> Hola <%= user.firstName %>,</p>
      <p> Introduce el siguiente código para recuperar tu contraseña:</p>
      <p class="token"><%= user.recoveryToken %></p>
      <p>Recibes este correo debido a que una persona intentó reiniciar la contraseña
         asociada a tu dirección de correo. Si es un error, ignora este mensaje y la contraseña
          no será cambiada.</p>
        <p>¿Cuántas misiones has completado ya?</p>
        <p>tapnwin.today</p>
    </div>
  </div>
</div>
